<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviando Arquivo</title>
</head>

<body>
    <form id="formEnviaArq" method="POST" enctype="multipart/form-data">
        <input type="file" id="arquivo" name="arquivo" multiple>
        <input type="submit" id="btn_enviaForm" value="Enviar">
    </form>


    <div id="content_iframe">

    </div>
        
    </iframe>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>